* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Verdana', sans-serif;
    background-color: #f8f5ec; /* Fundo bege claro */
    color: #344e41; /* Texto em verde escuro */
    line-height: 1.6;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    color: #3a5a40; /* Verde escuro */
    font-size: 2.5rem;
}

main {
    max-width: 800px;
    margin: auto;
    background: #ffffff; /* Fundo branco para contraste */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 20px;
}

h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: #3a5a40; /* Verde escuro */
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, button {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #d9d9d9; /* Cinza claro */
    border-radius: 4px;
}

input:focus {
    border-color: #a3b18a; /* Verde suave */
    outline: none;
    box-shadow: 0 0 4px #a3b18a;
}

button {
    background-color: #588157; /* Verde médio */
    color: white;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #6a994e; /* Verde mais vibrante */
}

#estoque-ul {
    list-style: none;
    padding: 0;
}

#estoque-ul li {
    padding: 10px;
    border: 1px solid #d9d9d9; /* Cinza claro */
    margin-bottom: 5px;
    border-radius: 4px;
    background: #d8e2dc; /* Bege claro */
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

#estoque-ul li:hover {
    background-color: #b7c9b7; /* Verde claro */
    color: #344e41; /* Verde escuro para texto */
}

#resultados-busca {
    margin-top: 10px;
}

#valor-total-texto {
    font-weight: bold;
    font-size: 1.2rem;
    color: #3a5a40; /* Verde escuro */
}


/* Remove as setas nos navegadores Webkit (Chrome, Safari, Edge) */
input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Remove as setas no Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}


.toast-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

/* Estilo do Toast */
.toast {
    display: inline-block;
    background-color: #323232;
    color: #fff;
    padding: 15px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    margin-bottom: 10px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

/* Quando visível */
.toast.show {
    opacity: 1;
    transform: translateY(0);
}